.bg-purple {
    background: #900C45;
}

textarea {
    resize: none;
}

.options {
    margin: 0 70px;
}

select option:disabled {
    background: #E9ECEF;
}

.logout-btn {
    background: #900C45;
    border: none;
    color: #fff;
}