<th:block th:fragment="head" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Resident Evil</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <link rel="stylesheet" th:href="@{/css/reset-css.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    </head>
</th:block>