<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head"/>
<body>
<div class="container-fluid">
    <th:block th:insert="fragments/header"/>
    <main class="mx-auto w-75">
        <h1 class="my-4">Spread a new Virus!</h1>
        <form class="my-5" data-toggle="validator" th:action="@{/virus/add}" th:method="POST" th:object="${virus}">
            <div class="form-group">
                <label for="name">Name</label>
                <input aria-describedby="name" class="form-control" id="name"
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" th:field="*{name}" type="text"/>
                <div class="invalid-feedback">
                    Invalid name.
                </div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description"
                          th:classappend="${#fields.hasErrors('description')} ? 'is-invalid'" type="text"></textarea>
                <div class="invalid-feedback">
                    Invalid description
                </div>
            </div>
            <div class="form-group">
                <label for="sideEffects">Side Effects</label>
                <input class="form-control" id="sideEffects" name="sideEffects" th:classappend="${#fields.hasErrors('sideEffects')} ? 'is-invalid'"
                       type="text"/>
                <div class="invalid-feedback">
                    Invalid side effects
                </div>
            </div>
            <div class="form-group">
                <label for="creator">Creator</label>
                <input class="form-control" id="creator" name="creator" th:classappend="${#fields.hasErrors('creator')} ? 'is-invalid'"
                       type="text"/>
                <div class="invalid-feedback">
                    Invalid creator
                </div>
            </div>
            <div class="form-check">
                <div class="checkbox">
                    <input class="form-check-input" id="isDeadly" name="IsDeadly"
                           type="checkbox">
                    <label class="form-check-label" for="isDeadly">Is Deadly?</label>
                </div>
            </div>
            <div class="form-check my-2">
                <div class="checkbox">
                    <input class="form-check-input" id="isCurable" name="IsCurable"
                           type="checkbox">
                    <label class="form-check-label" for="isCurable">Is Curable?</label>
                </div>
            </div>
            <div class="form-group my-4">
                <label>Mutation</label>
                <div class="radio" th:each="mutation : ${T(residentevil.domain.enums.Mutation).values()}">
                    <label><input name="mutation" required th:text="${' ' + mutation}" th:value="${mutation}"
                                  type="radio"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="turnoverRate">Turnover Rate</label>
                <input class="form-control" id="turnoverRate" max="100" min="1"
                       name="turnoverRate" th:classappend="${#fields.hasErrors('turnoverRate')} ? 'is-invalid'"
                       type="number"/>
                <div class="invalid-feedback">
                    Invalid turnover rate
                </div>
            </div>
            <div class="form-group">
                <label for="hoursUntilTurn">Hours Until Turn</label>
                <input class="form-control" id="hoursUntilTurn" max="12"
                       min="1" name="hoursUntilTurn" th:classappend="${#fields.hasErrors('hoursUntilTurn')} ? 'is-invalid'"
                       type="number"/>
                <div class="invalid-feedback">
                    Invalid hours until turn
                </div>
            </div>
            <div class="form-group">
                <label for="magnitude">Magnitude</label>
                <select class="form-control" id="magnitude" name="magnitude">
                    <option value="LOW">Low</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="HIGH">High</option>
                </select>
            </div>
            <div class="form-group">
                <label for="releasedOn">Release Date</label>
                <input class="form-control" id="releasedOn" name="releasedOn" th:classappend="${#fields.hasErrors('releasedOn')} ? 'is-invalid'"
                       type="date">
                <div class="invalid-feedback">
                    Invalid date
                </div>
            </div>
            <div class="form-group">
                <label for="affectedCapitals">Affected Capitals</label>
                <select class="form-control" id="affectedCapitals" multiple
                        name="affectedCapitals"
                        th:classappend="${#fields.hasErrors('affectedCapitals')} ? 'is-invalid'">
                    <option th:each="capital : ${capitals}" th:text="${capital.name}" th:value="${capital.id}"></option>
                </select>
                <div class="invalid-feedback">
                    You must select capitals
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </main>
</div>
<th:block th:insert="fragments/scripts"/>
</body>

</html>