<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head"/>
<body>
<div class="container-fluid">
    <th:block th:insert="fragments/header"/>
    <main class="mx-auto w-50">
        <h1 class="text-center my-5">All Users</h1>
        <table class="table">
            <thead>
            <tr class="font-weight-bold">
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, i : ${users}">
                <form th:action="@{/user/edit}" th:method="PATCH">
                    <th scope="row" th:text="${i.index + 1}"></th>
                    <td th:text="${user.username}"></td>
                    <td>
                        <input type="hidden" th:value="${user.id}" name="id"/>
                        <select class="form-control" name="role" id="role"
                                th:disabled="${(#authorization.expr('hasRole(''ADMIN'')') and #authorization.expr('!hasRole(''ROOT'')'))
                            and user.authority.name() == 'ADMIN' or user.authority.name() == 'ROOT'}">
                            <option th:each="role : ${T(residentevil.domain.enums.Authority).values()}"
                                    th:selected="${user.authority == role}"
                                    th:disabled="${role.name() == 'ROOT'}"
                                    th:text="${role}"
                                    th:value="${role}"></option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-outline-secondary" type="submit"
                                th:classappend="${(#authorization.expr('hasRole(''ADMIN'')') and #authorization.expr('!hasRole(''ROOT'')'))
                       and user.authority.name() == 'ADMIN' or user.authority.name() == 'ROOT' ? 'disabled' : ''}"
                                th:disabled="${(#authorization.expr('hasRole(''ADMIN'')') and #authorization.expr('!hasRole(''ROOT'')'))
                            and user.authority.name() == 'ADMIN' or user.authority.name() == 'ROOT'}">Edit
                        </button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </main>
</div>
<th:block th:insert="fragments/scripts"/>
</body>

</html>