<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Agency</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<section>
    <div id="roof">
    </div>
    <div id="building"></div>
    <div id="offerManager">
        <div id="regOffer">
            <form action="/find" method="post">
                <h2>Find offer</h2>
                <input name="familyBudget" placeholder="Family budget...." type="number">
                <input name="familyApartmentType" placeholder="Apartment type..." type="text">
                <input name="familyName" placeholder="Family name..." type="text">
                <button class="button" name="findOffer">Find offer</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>