<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Agency</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<section>
    <div id="roof">
    </div>
    <div id="building"></div>
    <div id="offerManager">
        <div id="regOffer">
            <form action="/reg" method="post">
                <h2>Reg offer</h2>
                <input name="apartmentRent" placeholder="Rent price..." type="number">
                <input name="apartmentType" placeholder="Apartment type..." type="text">
                <input name="apartmentCommission" placeholder="Commission rate..." type="number">
                <button class="button" name="findOffer">Reg offer</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>